body {
  padding: 0;
  margin: 0;
  font-family: "Microsoft Yahei", monospace;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  color: aliceblue;
  background-color: #1a1a1a;
}

.el-container {
  background-color: #1a1a1a;
}

.el-aside {
  padding: 0;
  margin: 0;
  background-color: #4175a8;
}

.el-main {
  padding: 0;
  margin: 0;
  background-color: #26c756;
}